body {
  background-image:url('../img/bg.png');
}
h2 {
  color: white;
}
.card {
  float: left;
  border: solid 1px black;
  width: auto;
  border-radius: 5px;
  height: auto;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

